@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

body {
  font-family: 'Berkshire Swash', cursive;
  background-color: #E8ECEF;

}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.bxs-lock-open {
  font-size: 7rem;
}
.bxs-lock {
  font-size: 7rem;
}